numpy
fastapi
uvicorn
markdown
scipy
statsmodels
polars
matplotlib
seaborn
scikit-learn
torch
torchvision
torchaudio
transformers
jupyter
jupyter-book
notebook
tqdm
pyyaml
pydantic
nbconvert
nbformat
